.git
.gitignore
.github
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.idea
.vscode
*.log
tests
.editorconfig
.styleci.yml
phpunit.xml
