/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
.env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.vercel
!/public/images
RAILWAY_DEPLOYMENT.md
railway.toml
/vendor
composer.lock
